<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
            <h1 class='logoTitle' *ngIf="!addressToBeSelected">VEHICLE REGISTRATION </h1>

            <div class="form-group mapBox" *ngIf="addressToBeSelected">
                <label>Serving Area </label>
                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </div>
            <h4 *ngIf="addressToBeSelected"><b>Address:</b> {{address}}</h4>
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" *ngIf="addressToBeSelected">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>

            <div class="form-group btnFormGroup mapBox" *ngIf="addressToBeSelected">
                <button class="btn btnGreen" type="button" (click)="addressSelected()">Enter Vehicle Details</button>
            </div>
            <form [formGroup]="form" (ngSubmit)="formSubmit()" class="form" [class.hidden]="addressToBeSelected">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>Vehicle Name</label>
                            <input type="text" formControlName="vehicleName" class="form-control">
                            <label class="errMessage" *ngIf="vehicleNameError">{{vehicleNameError}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>Color</label>
                            <input type="text" formControlName="vehicleColor" class="form-control">
                            <label class="errMessage" *ngIf="vehicleColorError">{{vehicleColorError}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>Registration Number</label>
                            <input type="text" formControlName="vehicleNumber" class="form-control" placeholder="ST 01 AL 4563">
                            <label class="errMessage" *ngIf="vehicleNumberError">{{vehicleNumberError}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>Calculation KMS based for KMS more than</label>
                            <input type="number" formControlName="kmsSwitch" class="form-control">
                            <label class="errMessage" *ngIf="kmsSwitchError">{{kmsSwitchError}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <label>Vehicle Class</label>
                            <select formControlName="vehicleClassIndex" class="form-control" (change)="checkAcSwitch()">
                                <option *ngFor="let vClass of classList; let i=index;" value="{{i}}">
                                    {{vClass.className}}
                                </option>
                            </select>
                            <label class="errMessage" *ngIf="vehicleClassIndexError">{{vehicleClassIndexError}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label>Vehicle Images</label>
                            <input type="file" (change)="saveFile($event)" class="form-control" multiple>
                            <label class="errMessage" *ngIf="vehicleImageError">{{vehicleImageError}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label><span class="fa fa-inr"></span> per Day for AC Trip</label>
                            <input type="number" formControlName="acDayCharge" class="form-control">
                            <label class="errMessage" *ngIf="acDayChargeError">{{acDayChargeError}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label><span class="fa fa-inr"></span> per KM for AC Trip</label>
                            <input type="number" formControlName="acKmsCharge" class="form-control">
                            <label class="errMessage" *ngIf="acKmsChargeError">{{acKmsChargeError}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label>KMS per l for AC Trip</label>
                            <input type="number" formControlName="acMileage" class="form-control">
                            <label class="errMessage" *ngIf="acMileageError">{{acMileageError}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" *ngIf="acSwitch">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label><span class="fa fa-inr"></span> per Day for Non AC Trip</label>
                            <input type="number" formControlName="defaultDayCharge" class="form-control">
                            <label class="errMessage" *ngIf="defaultDayChargeError">{{defaultDayChargeError}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label><span class="fa fa-inr"></span> per KM for Non AC Trip</label>
                            <input type="number" formControlName="defaultKmsCharge" class="form-control">
                            <label class="errMessage" *ngIf="defaultKmsChargeError">{{defaultKmsChargeError}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label>KMS per l for Non AC Trip</label>
                            <input type="number" formControlName="defaultMileage" class="form-control">
                            <label class="errMessage" *ngIf="defaultMileageError">{{defaultMileageError}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Remarks</label>
                    <textarea formControlName="vehicleRemarks" class="form-control"></textarea>
                </div>
                <div class="form-group btnFormGroup">
                    <button class="btn btnGreen" type="submit">ADD VEHICLE</button>
                </div>
            </form>
        </div>
    </div>


    <div *ngIf="loading" class="modal-backdrop cover">
        <div class="row loaderRow">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
                <img src="{{logoLocation}}" class="loaderImage">
            </div>
        </div>
    </div>


    <div class="modal fade" id="alertModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content alertBox">
                <div class="modal-header hidden">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="dialogIconHolder">
                        <span *ngIf="fail" class="dialogIcon redIcon fa fa-meh-o"></span>
                        <span *ngIf="success" class="dialogIcon greenIcon fa fa-check-square-o"></span>
                        <span *ngIf="msg" class="dialogIcon blueIcon fa fa-comments-o"></span>
                    </div>
                    <h3 class="titleHead dialogTitle" [class.blueIcon]="msg==true" [class.greenIcon]="success" [class.redIcon]="fail">{{message}}</h3>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                            <button class="btn fullGrid" [class.btnBlue]="msg==true" [class.btnGreen]="success" [class.btnRed]="fail" data-dismiss="modal"><span class="btnSpan">OK</span></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <button class="hidden" id="alertInvoker" data-toggle="modal" data-target="#alertModal"></button>

</div>