<div class="row blackRow " #aboutUs>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contentCol " [class.contentColSmall]="shortWindow">
        <p>
            Egozz Trips is an Indian Company whose mission is to provide reliable, timely, and safe cab services for your trips.
        </p>
        <p>
            We stand for <b style="background-color: rgb(255,255,255,0.7); color:rgb(8,11,90); padding:5px;">{{stand}}</b> trip services, thus all our moto is to provide complete taxi cab services using the latest equipment and technology to facilitate
            the travel of individuals in and around the Country.The company's products and services show that we are an innovative, forward thinking company that recognizes the need to move with ever-changing customer needs.
        </p>
        <p>
            At EGOZZ, our philosophy is one that emphasizes service, and a realization that effective communication is a key component in our business. The company also realizes that, in a competitive environment, flexibility and professionalism maintain that leading
            edge. All EGOZZ cabs will be clean, well maintained, and inspected regularly for safety and comfort.
        </p>
        <p>
            The company's strategy is to build reputation and market share by establishing our business offering as a viable alternative to existing taxi cab services in the area. The company's goal in the next year is pursue an aggressive marketing campaign and
            from that, penetrate at least 65% of the market share. The company's goal in the next two to five years is be the top rated ground transportation company in the Indian Cities by continuously monitoring, evaluating, and following up on customer
            call-ins.
        </p>
        <p>Key components of EGOZZ's initial strategy can be summarized as follows.</p>
        <p>Establish Relationship with different pre-established companies currently working to establish and develop a working relationship with them. This will enable EGOZZ to lock into the many services that they offer including, but not limited to:
        </p>
        <h4><span class="fa fa-check "></span> Managerial</h4>
        <h4><span class="fa fa-check "></span> Customer Service Effieciency</h4>
        <h4><span class="fa fa-check "></span> Product Management</h4>
        <h4><span class="fa fa-check "></span> continuous Improvements</h4>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contentCol ">
        <h4 style="text-align:center; margin: 0px; "><b><span class="fa fa-copyright "></span> EGOZZ</b> | yesegozz@gmail.com
        </h4>
    </div>
</div>