<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table table-condensed table-bordered" id="transactionData">
                <thead>
                    <tr>
                        <th style="text-align: center; padding-bottom:20px;" rowspan="2">#</th>
                        <th style="text-align: center; padding-bottom:20px;" rowspan="2">Vehicle Name</th>
                        <th style="text-align: center; padding-bottom:20px;" rowspan="2">Vehicle Class</th>
                        <th style="text-align: center; padding-bottom:20px;" rowspan="2">Color</th>
                        <th style="text-align: center; padding-bottom:20px;" rowspan="2">Registration Num</th>
                        <th style="text-align: center;" colspan="2">Reservation Charge</th>
                        <th style="text-align: center;" colspan="2">KMS Fare</th>
                        <th style="text-align: center;" colspan="2">Fuel Mileage</th>
                        <th style="text-align: center; padding-bottom:20px;" rowspan="2">Switch</th>
                        <th style="text-align: center; padding-bottom:20px; width:300px;" rowspan="2">Address</th>
                        <th style="text-align: center; padding-bottom:20px; width:120px;" rowspan="2">Owner</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">AC</th>
                        <th style="text-align: center;">Default</th>
                        <th style="text-align: center; width:40px;">AC</th>
                        <th style="text-align: center;">Default</th>
                        <th style="text-align: center; width:65px;">AC</th>
                        <th style="text-align: center;">Default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="vehicles.length<=0">
                        <th colspan="15">No Vehicles Registered !</th>
                    </tr>
                    <tr *ngFor="let vehicle of vehicles; let i=index;">
                        <th style="text-align: center;">{{i+1}}</th>
                        <td>{{vehicle.vehicleName}}</td>
                        <td>{{vehicle.vehicleClass.className}}</td>
                        <td>{{vehicle.vehicleColor}}</td>
                        <td>{{vehicle.vehicleNumber}}</td>
                        <td><span class="fa fa-inr"></span>{{vehicle.acDayCharge}}</td>
                        <td [class.centered]="!vehicle.vehicleClass.acSwitch">
                            <span *ngIf="!vehicle.vehicleClass.acSwitch">N/A</span>
                            <span *ngIf="vehicle.vehicleClass.acSwitch"><span class="fa fa-inr"></span>{{vehicle.defaultDayCharge}}
                            </span>
                        </td>
                        <td><span class="fa fa-inr"></span>{{vehicle.acKmsCharge}}</td>
                        <td [class.centered]="!vehicle.vehicleClass.acSwitch">
                            <span *ngIf="!vehicle.vehicleClass.acSwitch">N/A</span>
                            <span *ngIf="vehicle.vehicleClass.acSwitch">
                                <span class="fa fa-inr"></span>{{vehicle.defaultKmsCharge}}
                            </span>
                        </td>
                        <td>{{vehicle.acMileage}} KMPL</td>
                        <td [class.centered]="!vehicle.vehicleClass.acSwitch">
                            <span *ngIf="!vehicle.vehicleClass.acSwitch">N/A</span>
                            <span *ngIf="vehicle.vehicleClass.acSwitch">
                                {{vehicle.defaultMileage}} KMPL
                            </span>
                        </td>
                        <td>{{vehicle.kmsSwitch}}</td>
                        <td>{{vehicle.address}}</td>
                        <td>
                            {{vehicle.owner.fullName}}<br>{{vehicle.owner.phone}}

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>