<!-- NAVIGATION BAR OF HOMEPAGE -->

<nav class="navbar navbar-fixed-top" *ngIf="showNav || shortWindow" [class.darkNavBar]="darkNav" [class.lightNavBar]="lightNav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#adminNavbar">
                <span class="fa fa-bars"></span>
            </button>
            <div class="navbar-brand">
                <div class="logoHolder">
                    <img src="{{logoLocation}}" class='logoImage'>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="nav navbar-nav">
                <li [class.active]="currentNav=='home'">
                    <a [class.lightA]="lightNav" (click)="homeClicked()"><span class="fa fa-home"></span> Home</a>
                </li>
                <li [class.active]="currentNav=='aboutUs'">
                    <a [class.lightA]="lightNav" (click)="aboutUsClicked()"><span class="fa fa-balance-scale"></span>
                        About Us</a>
                </li>
                <li [class.active]="currentNav=='classes'">
                    <a [class.lightA]="lightNav" (click)="catalogueClicked()"><span class="fa fa-area-chart"></span>
                        Catalogue</a>
                </li>
                <li [class.active]="currentNav=='trip'" *ngIf="loggedIn">
                    <a [class.lightA]="lightNav"><span class="fa fa-road"></span> Trips</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="loggedIn"><a [class.lightA]="lightNav"><span class="glyphicon glyphicon-user"></span>
                        {{firstName}}</a></li>
                <li *ngIf="!loggedIn"><a [class.lightA]="lightNav" data-toggle="modal" data-target="#formModal"><span
                            class="fa fa-sign-in"></span> Login / <span class="fa fa-user-plus"></span> Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- TOPBAR FOR LANDING PURPOSE -->
<div class="container-fluid">
    <div class="row topBar" [class.invisible]="showNav || shortWindow" [class.hidden]="shortWindow">
        <div class="col-lg-2 col-sm-3 col-xs-3 col-md-2">
            <div class=" imageHolder colOfContent" [class.smallImageHolder]="shortWindow">
                <img src="{{darkLogo}}" class="boxImage">
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 topBarCol">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <h4 class="topBarBtn" [class.selectedTopBar]="currentNav=='home'" (click)="homeClicked()"><span class="fa fa-home"></span> Home
                    </h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h4 class="topBarBtn" [class.selectedTopBar]="currentNav=='classes'" (click)="aboutUsClicked()">
                        <span class="fa fa-balance-scale"></span> About Us</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h4 class="topBarBtn" [class.selectedTopBar]="currentNav=='classes'" (click)="catalogueClicked()">
                        <span class="fa fa-area-chart"></span> Catalogue</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
                    <h4 class="topBarBtn" data-toggle="modal" data-target="#formModal" id="openFormModalHere"><span class="fa fa-sign-in"></span> Login / <span class="fa fa-user-plus"></span> Register </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONTENT -->

<div class="container-fluid rowOfContent">
    <div class="row firstRow" [class.firstSmallRow]="shortWindow" #home>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 imageHolder">
            <div class="row titleRow">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 titleCol">
                    <button class="btn btnWhiteBlue fullGrid" (click)="previous()"><span
                            class="fa fa-toggle-left btnSpan"></span></button>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 titleCol">
                    <h4 class="fullGrid fullGridHead">{{currentClass.className}}</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 titleCol">
                    <button class="btn btnWhiteBlue fullGrid" (click)="next()"><span
                            class="fa fa-toggle-right btnSpan"></span></button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 imgSplCol">
                    <img class="fullGrid fullGridImage" src="{{host}}/files/{{currentClass.image.fileLocation}}">
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 homeRow" [class.homeRowSmall]="shortWindow">
            <h1 class=" greenHeading "><b>{{para}}</b></h1>
            <p>Planning for a trip and thinking of a cab at affordable prices ? Worry no more ! We, Egozz are here to make your travelling experience easy and remarkable.</p>
            <p>Just tell us the address & time, We'll be there as you need with a variety of riding classes starting from {{vClasses[0].className}} to {{vClasses[last].className}}.</p>
            <p>Have a look at our Catalogue for details about the vehicle classes.</p>
        </div>
    </div>
    <div class="row blackRow " #aboutUs>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contentCol " [class.contentColSmall]="shortWindow">
            <h1 class="greenHeading " style="text-align:left "><b>ABOUT US</b></h1>
            <p>
                Egozz Trips is an Indian Company whose mission is to provide reliable, timely, and safe cab services for your trips.
            </p>
            <p>
                We stand for <b style="background-color: rgb(255,255,255,0.7); color:rgb(8,11,90); padding:5px;">{{stand}}</b> trip services, thus all our moto is to provide complete taxi cab services using the latest equipment and technology to facilitate
                the travel of individuals in and around the Country.The company's products and services show that we are an innovative, forward thinking company that recognizes the need to move with ever-changing customer needs.
            </p>
            <p>
                At EGOZZ, our philosophy is one that emphasizes service, and a realization that effective communication is a key component in our business. The company also realizes that, in a competitive environment, flexibility and professionalism maintain that leading
                edge. All EGOZZ cabs will be clean, well maintained, and inspected regularly for safety and comfort.
            </p>
            <p>
                The company's strategy is to build reputation and market share by establishing our business offering as a viable alternative to existing taxi cab services in the area. The company's goal in the next year is pursue an aggressive marketing campaign and
                from that, penetrate at least 65% of the market share. The company's goal in the next two to five years is be the top rated ground transportation company in the Indian Cities by continuously monitoring, evaluating, and following up on
                customer call-ins.
            </p>
            <p>Key components of EGOZZ's initial strategy can be summarized as follows.</p>
            <p>Establish Relationship with different pre-established companies currently working to establish and develop a working relationship with them. This will enable EGOZZ to lock into the many services that they offer including, but not limited to:
            </p>
            <h4><span class="fa fa-check "></span> Managerial</h4>
            <h4><span class="fa fa-check "></span> Customer Service Effieciency</h4>
            <h4><span class="fa fa-check "></span> Product Management</h4>
            <h4><span class="fa fa-check "></span> continuous Improvements</h4>
        </div>
    </div>
    <div class="row " #catalogue>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 homeRow normalContentCol " [class.contentColSmall]="shortWindow" style="padding-top:50px; ">
            <h1 class="greenHeading " style="text-align:left "><b>CATALOGUE</b></h1>
            <p>We at EGOZZ have many variety of cabs you may prefer as per your need and favorites. starting from Hatchbacks, Sedan, Economy to Premium vehicles whichever you like to travel with. Just select your favorite car & have fun !</p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 homeRow normalContentCol " [class.contentColSmall]="shortWindow" *ngFor="let vClass of vClasses; let i=index; ">
            <h3 class="blueHeading " style="text-align:left "><b>{{vClass.className}}</b></h3>
            <div class="row ">
                <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 imgSplCol " *ngIf="i%2==0 ">
                    <img src="{{host}}/files/{{vClass.image.fileLocation}} " class="fullGrid fullGridImage ">
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
                    <table class="table table-condensed table-bordered " style="margin-top:50px; ">
                        <thead>
                            <tr>
                                <th colspan="3 " style="text-align: center; ">{{vClass.className | uppercase}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th rowspan="5 " style="text-align:center; padding-top:50px; ">F<br>A<br>R<br>E</th>
                            </tr>
                            <tr>
                                <th>Day base Charge</th>
                                <td *ngIf="!vClass.acSwitch "><span class="fa fa-inr "></span> {{vClass.minAcDayCharge}} to <span class="fa fa-inr "></span> {{vClass.maxAcDayCharge}} </td>
                                <td *ngIf="vClass.acSwitch "><span class="fa fa-inr "></span> {{vClass.minDefaultDayCharge}} to <span class="fa fa-inr "></span> {{vClass.maxAcDayCharge}} </td>
                            </tr>
                            <tr>
                                <th>Distance Fule Charges</th>
                                <td *ngIf="!vClass.acSwitch ">As an output of {{vClass.maxAcMileage}} to {{vClass.minAcMileage}} KMS per Litre.</td>
                                <td *ngIf="vClass.acSwitch ">As an output of {{vClass.maxDefaultMileage}} to {{vClass.minAcMileage}} KMS per Litre.</td>
                            </tr>
                            <tr>
                                <th colspan="2 " style="text-align: center; ">OR</th>
                            </tr>
                            <tr>
                                <th>Total Charges</th>
                                <td *ngIf="!vClass.acSwitch ">As an output of <span class="fa fa-inr "></span> {{vClass.minAcKmsCharge}} to <span class="fa fa-inr "></span> {{vClass.maxAcKmsCharge}} per KM.</td>
                                <td *ngIf="vClass.acSwitch ">As an output of <span class="fa fa-inr "></span> {{vClass.minDefaultKmsCharge}} to <span class="fa fa-inr "></span> {{vClass.maxAcKmsCharge}} per KM.</td>
                            </tr>
                            <tr>
                                <th colspan="2 ">Seats Available</th>
                                <td>{{vClass.seat}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 imgSplCol " *ngIf="i%2!=0 ">
                    <img src="{{host}}/files/{{vClass.image.fileLocation}} " class="fullGrid fullGridImage ">
                </div>
            </div>
        </div>
    </div>
    <div class="row blackRow " id="footer ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contentCol ">
            <h4 style="text-align:center; margin: 0px; "><b><span class="fa fa-copyright "></span> EGOZZ</b> | yesegozz@gmail.com
            </h4>
        </div>
    </div>


    <div class="modal fade" id="alertModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content alertBox">
                <div class="modal-header hidden">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="dialogIconHolder">
                        <span *ngIf="fail" class="dialogIcon redIcon fa fa-meh-o"></span>
                        <span *ngIf="success" class="dialogIcon greenIcon fa fa-check-square-o"></span>
                        <span *ngIf="msg" class="dialogIcon blueIcon fa fa-comments-o"></span>
                    </div>
                    <h3 class="titleHead dialogTitle" [class.blueIcon]="msg==true" [class.greenIcon]="success" [class.redIcon]="fail">{{message}}</h3>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                            <button class="btn fullGrid" [class.btnBlue]="msg==true" [class.btnGreen]="success" [class.btnRed]="fail" data-dismiss="modal"><span class="btnSpan">OK</span></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="formModal" role="dialog">
        <div class="modal-dialog" style="background: linear-gradient(50deg, rgb(8,11,90), black, rgb(8,11,90));">

            <div class="modal-content formBox alertBox" style="border:0px solid rgb(8,11,90); padding:10px; 
                background: linear-gradient(50deg, rgb(8,11,90), black, rgb(8,11,90)); margin-top: 30px;">
                <div class="modal-header" style="margin-bottom:0px; padding-top: 0px; padding-bottom: 0px;">
                    <div class="row" style="padding:0px; margin-top:0px;">
                        <button type="button" class="close" data-dismiss="modal" id="dismissModalHere">&times;</button>
                    </div>
                    <div class="row" style="padding:0px;">
                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 switchElement" (click)="switchToLogin()" [class.whiteRow]="loginBox" [class.blackRow]="!loginBox">
                            <h4><b>LOGIN</b></h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 switchElement" (click)="switchToRegister()" [class.whiteRow]="registerBox" [class.blackRow]="!registerBox">
                            <h4><b>REGISTER</b></h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="margin-bottom:50px; background-color: white ;margin-bottom:0px; padding-bottom: 0px;">
                    <div class="row" *ngIf="loginBox">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <form class="form" [formGroup]="loginForm" (ngSubmit)="loginNow()">
                                <div class="form-group">
                                    <!-- <label>Username</label> -->
                                    <input type="text" formControlName="userName" class="form-control" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <!-- <label>Password</label> -->
                                    <input type="password" formControlName="password" class="form-control" placeholder="Password">
                                    <div class="forgotPasswordLabelDiv">
                                        <label class="forgotPasswordLabel">Forgot ? </label>
                                    </div>
                                </div>
                                <div class="form-group btnFormGroup">
                                    <button class="btn btnGreen" type="submit">LOGIN</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" *ngIf="registerBox">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <form class="form" [formGroup]="signUpForm" (ngSubmit)="submitRegister()">

                                <div class="form-group" *ngIf="!otpSent">
                                    <input type="text" formControlName="mail" class="form-control" placeholder="E-Mail">
                                </div>
                                <div class="form-group" *ngIf="!otpSent">
                                    <input type="text" formControlName="phone" class="form-control" placeholder="Phone">
                                </div>
                                <div class="form-group" *ngIf="!otpSent">
                                    <input type="text" formControlName="fullName" class="form-control" placeholder="Full Name">
                                </div>
                                <div class="form-group" *ngIf="!otpSent">
                                    <input type="text" formControlName="userName" class="form-control" placeholder="Username">
                                </div>
                                <div class="form-group" *ngIf="!otpSent">
                                    <input type="password" formControlName="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group" *ngIf="!otpSent">
                                    <input type="password" formControlName="confirmPassword" class="form-control" placeholder="confirmPassword">
                                </div>
                                <div class="form-group" *ngIf="otpSent">
                                    <input type="password" formControlName="otp" class="form-control" placeholder="One Time Password">
                                </div>
                                <div class="form-group btnFormGroup">
                                    <button class="btn btnGreen" type="submit">REGISTER</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <button class="hidden" id="alertInvoker" data-toggle="modal" data-target="#alertModal"></button>


    <div *ngIf="loading" class="modal-backdrop cover">
        <div class="row loaderRow">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
                <img src="{{darkLogo}}" class="loaderImage">
            </div>
        </div>
    </div>

</div>